{% extends 'base.html' %}
{% block title %}Subjects{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Subjects</h2>
    <div class="mb-3">
      {% for school_class in all_classes %}
          {% with "Class " as class_prefix %}
            <a href="?class_id={{ school_class.id }}" class="btn btn-outline-primary">
               {{ class_prefix }}{{ school_class.name }}
            </a>
          {% endwith %}
      {% endfor %}
      <a href="{% url 'subject-list' %}" class="btn btn-secondary m-1">Reset</a>
    </div>

    <a href="{% url 'subject-add' %}" class="btn btn-primary mb-3">Add Subject</a>
    <table class="table table-bordered" style="width: 50%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.name }}</td>
                <td>
                    <a href="{% url 'subject-edit' subject.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'subject-delete' subject.pk %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
